doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    nav.navbar.navbar-default
      .container-fluid
        //- Brand and toggle get grouped for better mobile display
        .navbar-header
          button(
              type='button'
              class='navbar-toggle collapsed' 
              data-toggle='collapse' 
              data-target='#bs-example-navbar-collapse-1' 
              aria-expanded='false'
            )
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(
            class="navbar-brand" 
            href='/'
            ) Brand

        //- Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul(class='nav navbar-nav')
            li.active: a(href='/') Home #[span.sr-only (current)]
            li: a(href='/about') About
            li.dropdown
              a(
              href='#' 
              class='dropdown-toggle' 
              data-toggle='dropdown' 
              role='button' aria-haspopup='true' 
              aria-expanded='false'
              ) Dropdown #[span.caret]
              ul.dropdown-menu
                li: a(href='#') Action
                li: a(href='#') Another action
                li: a(href='#') Something else here
                li(
                  role='separator' 
                  class='divider'
                  )
                li: a(href='#') Separated link
                li(
                  role='separator' 
                  class='divider'
                  )
                li: a(href='#') One more separated link

          form(
            class='navbar-form navbar-left' 
            role='search'
            )
            .form-group
              input(
                type='text' 
                class='form-control' 
                placeholder='Search'
                )
            button(
              type='submit'
              class='btn btn-default'
              ) Submit
          ul(class='nav navbar-nav navbar-right')
            li: a(href='/contact') Contact
            li.dropdown
              a(
                href='#' 
                class='dropdown-toggle' 
                data-toggle='dropdown' 
                role='button' 
                aria-haspopup='true' 
                aria-expanded='false'
                ) Dropdown #[span.caret]
                ul.dropdown-menu
                  li: a(href='#') Action
                  li: a(href='#') Another action
                  li: a(href='#') Something else here
                  li(
                    role='separator' 
                    class='divider'
                    )
                  li: a(href='#') Separated link
    block content
